* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:root{
    --bgColor1: #031124;
    --linearColor: linear-gradient(150deg, #061f42 0%, #16706c 100%);
    --linearColor2: linear-gradient(150deg, rgba(6,31,66, 0.2) 50%, rgba(22,112,108, 0.2) 100%);

    --textColor: #d6d6d6;
    --borderColor: rgba(255,255,255, 0.2);  
    --fontFamily: "Poppins", system-ui;
    --fontSizeDefault: clamp(0.50em, 0.50em + 1.75vw, 1em);
}

html{
    background: var(--bgColor1);
    color: var(--textColor);
    font-family: var(--fontFamily);
    font-size: var(--fontSizeDefault); 
}

/* HEADER */

header{
    border-bottom: 0.5px solid var(--borderColor);
    position: absolute;
    width: 100%;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: auto;
    padding: 20px 5px;
}

/* LOGO */

#logo{
    text-decoration: none;
    color: var(--textColor);
    font-weight: 900;
    font-size: 1.25em;
}

/* NAVBAR */

#navbar{
   display: block;
}

#navbar ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

#navbar ul li a{
    color: var(--textColor);
    text-decoration: none;
    font-weight: 700;
}

/* MOBILE MENU */

#mobile-menu{
    display: none;
    font-size: 1.5em;
    font-weight: 700;
    cursor: pointer;
}


/* HOME SECTION */

#home .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-bottom: 0.5px solid var(--borderColor);
}

#introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--fontSizeDefault);
    gap: 16px;
}

.intro-text{
    text-align: center;
}

#intro-text strong{
    font-weight: 900;
}

.intro-text h1{
    font-size: clamp(1em, 1em + 2vw, 3em);
}

.intro-text h2{
    font-size: clamp(0.75em, 0.75em + 2vw, 2.5em);
}



#contact-btn{
    background: var(--linearColor);
    border-radius: 5px;
    width: 10em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}

#contact-btn:hover{
    box-shadow: 2px 2px 5px #000000;
}


/* ABOUT SECTION */

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
}

#about .container{
   margin: 10px 0px 30px 0px;
   display: grid;
   align-items: stretch;
   justify-items: center;
   row-gap: 20px;
}

#about .container > div{
   border: 0.5px solid var(--borderColor);
   box-shadow: 10px 10px 100px #000000;
   width: 96%;
   border-radius: 5px;
   padding: 20px;
   background: var(--linearColor2);
}

/* PERSONAL INFORMATION SECTION */

.personal{
    display: flex;
    flex-direction: column;
}

.personal > p{
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

#info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid var(--borderColor);
}

#info span{
    font-weight: 700;
}

#info #info-photo{
    width: 40%;
    display: flex;
    justify-content: center;
}

#info #info-photo > img{
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000000;
    object-fit: cover;
    max-inline-size: 100%;
}

#info #info-text{
    width: 60%;
    height: 100%;
}



/* SKILLS SECTION */

.skills{
    display: flex;
    flex-direction: column;
}

.skills > p{
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

#skills-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#skills-container > div{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

#skills-container > div > .icon{
    font-size: 1.5em;
    background: none;
    width: 4%;
    display: flex;
    align-items: center;
}

#skills-container > div > div {
    height: 25px;
    background: var(--linearColor);
    width: 100%;
    text-align: end;
}

#skills-container > div > div > span{
    font-size: 0.80em;
}

/* FOOTER */

footer{
    border-top: 0.5px solid var(--borderColor);
    width: 100%;
}


footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
    font-size: var(--fontSizeDefault);
}


/* MEDIA QUERIES */


@media only screen and (max-width: 768px){

    #navbar{
        display: none;
    }

    #mobile-menu{
        display: block;
    }

}


@media only screen and (max-width: 860px){

    #about .container{
        width: 90%;
    }

    #info{
        flex-direction: column;
        align-items: center;
    }

    #info > div{
        width: 100% !important;
    }

    #info #info-text{
        text-align: center;
    }

}

@media only screen and (min-width: 860px) and (max-width: 1439px){


    #about .container{
      width: 60%;
      min-width: 50em;
    }

}

@media only screen and (min-width: 1440px){
    #about .container{
        width: 90%;
        grid-template-columns: repeat(2, 50%);
        justify-items: center;
        max-width: 100em;
    }

    #about .container > div{
        max-width: 50em;
    }
}







