* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bgColor1: #031124;
    --linearColor: linear-gradient(150deg, rgb(6, 31, 66) 0%, rgba(22,112,108,1) 100%);
    --textColor: #d6d6d6;
    --borderColor: rgba(255,255,255, 0.2);  
    --fontFamily: "Poppins", system-ui;
    --fontSizeDefault: clamp(0.50em, 0.50em + 1.75vw, 1em);
}

html{
    background: var(--bgColor1);
    color: var(--textColor);
    font-family: var(--fontFamily);
    font-size: var(--fontSizeDefault);
    
}

/* HEADER */

header{
    border-bottom: 0.5px solid var(--borderColor);
    position: absolute;
    width: 100%;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: auto;
    padding: 20px 5px;
}

/* LOGO */

#logo{
    text-decoration: none;
    color: var(--textColor);
    font-weight: 700;
    font-size: 1.25em;
}

/* NAVBAR */

#navbar{
   display: block;
}

#navbar ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

#navbar ul li a{
    color: var(--textColor);
    text-decoration: none;
    font-weight: 600;
}

/* MOBILE MENU */

#mobile-menu{
    display: none;
    font-size: 1.5em;
}


/* HOME SECTION */

#home .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-bottom: 0.5px solid var(--borderColor);
}

#introduction-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--fontSizeDefault);
    gap: 16px;
}

#intro-photo{
    width: 13em;
    height: auto;
}

#intro-photo img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000000;
}


#intro-text{
    text-align: center;
}

#intro-text strong{
    font-weight: 900;
}

#social-media-icons{
    display: flex;
    width: 50%;
    justify-content: center;
    gap: 20px;
}

.icon-container{
    background: var(--linearColor);
    height: 30px;
    width: 30px;
    border-radius: 5px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container:hover{
    box-shadow: 2px 2px 5px #000000;
}

.icon-container a{
    color: var(--textColor);
    font-size: 1.25em;
}

#contact-btn{
    background: var(--linearColor);
    border-radius: 5px;
    height: auto;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}

#contact-btn:hover{
    box-shadow: 2px 2px 5px #000000;
}


/* ABOUT SECTION */


#about .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: auto;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding: 50px 0;
}

#about p{
    text-align: justify;
}

.my-skills{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.my-skills i{
    font-size: 2em;
}

.skill-containers{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    height: 50px;
}

.progressBar{
    height: 20px;
    width: 100%;
    background: var(--linearColor);
    border: 0.5px solid var(--borderColor);
    text-align: end;
    font-size: 0.80em;
    padding: 0 5px;
}


/* FOOTER */

footer{
    border-top: 0.5px solid var(--borderColor);
    position: absolute;
    width: 100%;
}


footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
    font-size: var(--fontSizeDefault);
}




/* MEDIA QUERIES */

@media only screen and (max-width: 768px){
    #navbar{
        display: none;
    }

    #mobile-menu{
        display: block;
    }

    #about .container{
        width: 80%;
    }

    #social-media-icons{
        display: flex;
        width: 50%;
        justify-content: center;
        gap: 20px;
    }

}



